<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <h1>Admin</h1>

    <%- include("./partials/addUserForm.ejs") %>

    <ul>
      <% users.map(({_id, username, email}) => { %>
      <li id="user_<%= _id.toString() %>">
        <a href=""><%= username %>: <%= email %></a>

        <button
          type="button"
          hx-delete="http://localhost:3000/users/<%= _id.toString() %>"
          hx-target="#user_<%= _id.toString() %>"
          hx-swap="delete"
        >
          delete
        </button>
      </li>
      <%}) %>
    </ul>
  </body>
</html>
